<div class="wrapper">
  <div class="large-card">
    <div class="header">
      <h1>Editing Article</h1>
    </div>

    <%= form_for(@article) do |f| %>
    <div class="form">
      <div class="box">
        <div class="row" id="title-row">Title</div>
        <div class="row">
          <%= f.text_field :title %>
        </div>
      </div>

      <div class="box">
        <div class="row" id="content-row" >Content</div>
        <div class="row">
          <%= f.text_field :content %>
        </div>
      </div>
    </div>
    <%= f.submit %>
    <% end %>
    <%= link_to "Cancel", articles_path  %>
  </div>
</div>

