  <div class="wrapper">
    <div class="large-card">
      <div class="header">
        <h1><%= @article.title %></h1>
        <hr>
        <h2><%= @article.content %></h2>
      </div>
      <hr>
      <div class="buttons">
        <%= link_to "Edit article", edit_article_path(@article) %>
        <%= link_to 'Delete',
        article_path(@article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
        <%= link_to "Go back", articles_path  %>
      </div>
    </div>
  </div>
